{% extends "base.html" %}

{% block title %}
<title>Data</title>
{% endblock %}

{% block content %}


<section>
    <h1 style="text-align: center;">Data</h1>

    <p>
        The foundation of any successful deep learning project rests on the quality and relevance of its training data. In this phase, relevant dataset was collected and processed for training our image super-resolution model. The dataset comprised images spanning various domains, ensuring that the model could generalize well to a wide range of visual content. The dataset was collected from Kaggle (<a href="https://www.kaggle.com/datasets/adityachandrasekhar/image-super-resolution">Link</a>). Now let's discuss about this dataset in detail. 
    </p>
</section>

{% endblock %}