<!DOCTYPE html>

<head>
    <title>Home</title>
</head>

<body>

    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('introduction') }}">Introduction</a></li>
        <li><a href="{{ url_for('data') }}">Data and Prep</a></li>
        <li><a href="{{ url_for('analysis') }}">Analysis</a></li>
        <li><a href="{{ url_for('results') }}">Results</a></li>
        <li><a href="{{ url_for('conclusion') }}">Conclusion</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>

    <h1>CSCI 5922 - Neural Networks and Deep Learning Project</h1>
    <h1>Upload an Image</h1>
    <form method="POST" enctype="multipart/form-data" onsubmit="reloadPage()">
        <input type="file" name="image" accept="image/*">
        <input type="submit" value="Upload">
    </form>

    <h4>
        High Resolution Image will be downloaded automatically
    </h4>

    <script>
        function reloadPage() {
            location.reload()
        }
    </script>

</body>
