<!DOCTYPE html>
<head>
    <title>Introduction</title>
</head>
<body>
    <ul>
        <li><a href="{{ url_for('introduction') }}">Introduction</a></li>
        <li><a href="{{ url_for('data') }}">Data and Prep</a></li>
        <li><a href="{{ url_for('analysis') }}">Analysis</a></li>
        <li><a href="{{ url_for('results') }}">Results</a></li>
        <li><a href="{{ url_for('conclusion') }}">Conclusion</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>

    <h1>Introduction</h1>
</body>